/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

th {
  padding-top: 15px;
  padding-left: 80px;
  padding-bottom: 5px;
}

.index-body {
  padding-left: 140px;
}

.book-body {
  padding-left: 60px;
  padding-right: 280px;
}

td {
  padding-left: 8px;
  padding-bottom: 5px;
}

h2{
  margin: 16.185px 0;
}

label {
  display: block;
}

.text-field {
  margin-bottom: 10px;
}

.text-area {
  margin-bottom: 10px;
}

textarea {
  padding: 2px;
}

.submit {
  display: block;
  margin-bottom: 10px;
}

.errors {
  padding-left: 20px;
  margin-bottom: 20px;
}

input {
  padding: 1px 6px;
}

.button {
  position: absolute;
  left: 600px;
}

a {
  padding: 0 2px;
}

.flash {
  margin-bottom: 33px;
  margin-left: 35px;
}

.show {
  margin-left: 35px;
}

.show-title {
  display: flex;
}

.show-name {
  margin-right: 5px;
}

.show-body {
  display: flex;
  margin: 25px 0;
}

.show-bottun {
  display: flex;
}

.edit {
  margin-bottom: 15px;
}

.edit-bottun {
  display: flex;
}